body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(255, 204, 137);
}

.hidden{
    display: none !important;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid black;
    text-align: center;
}

.pause-container, .win-container, .lose-container{
    height: 100%;
    width: 100%;
    background-color: rgba(255, 0, 0, 0.27);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    backdrop-filter: blur(10px);
    flex-direction: column;
}

.reset-button, .submit-button, .new-game-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: hotpink;
    color: white;
    border: 2px solid rgb(130, 52, 65);
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
    user-select: none;
}

.reset-button:hover, .submit-button:hover, .new-game-button:hover {
    background-color: rgb(156, 52, 104);
}

.grid-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    width: 500px;
}

.grid-row {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.grid-row input {
    padding: 8px;
    width: 40px;
    height: 40px;
    box-sizing: content-box;
    border: 2px solid black;
    border-radius: 10px;
    justify-items: center;
    font-size: xx-large;
    text-transform: uppercase;
}

.row0 input, .row1 input, .row2 input, .row3 input, .row4 input, .row5 input{
    background-color: white;
    transition: background-color 1s linear;
}

.grid-row.readonly input{
    background-color: rgb(142, 142, 142);
    user-select: none;
}

.messages-div{
    min-height: 30px;
}

.keyboard button{
    margin: 5px;
    height: 40px;
    width: 40px;
    justify-content: center;
    display: inline-flex;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    align-items: center;
}